 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(116,62,82,0.25), rgba(116,62,82,0.25)), url("images/GemignaniR_characterInEnvironmentRENDERED_01.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-group-1 {
  width: 712px;
  min-height: 38px;
  height: auto;
  margin: 309px -25px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 8px auto -6px -113px;
}

.u-section-1 .u-text-2 {
  font-size: 8.125rem;
  line-height: 0.85;
  font-weight: 700;
  font-family: Metrophobic;
  text-transform: uppercase;
  margin: 7px 0 60px 325px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 70.48% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-group-1 {
    min-height: 98px;
    margin-top: 246px;
    margin-right: -22px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -25px;
    margin-left: 125px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 83.47% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 193px;
    margin-left: auto;
    margin-bottom: -161px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-top: 143px;
    margin-right: -198px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 96.11% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 104px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin: -135px 0 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -158px;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -11px;
    margin-right: -19px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -59px;
    margin-right: 50px;
    margin-bottom: 33px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1434px;
}

.u-section-2 .u-text-1 {
  width: 707px;
  font-family: Righteous;
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 433px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 29px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  min-height: 1170px;
  grid-gap: 25px 25px;
  grid-auto-columns: calc(33.3333% - 16.6667px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-image-2 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-image-3 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-image-4 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-image-5 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-image-6 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-7 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-15 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-16 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-image-8 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-17 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-18 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-9 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-image-9 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-19 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-20 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 68px;
    margin-right: 233px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16.6667px));
    min-height: 964px;
    grid-auto-columns: calc(33.333333333333336% - 16.6667px);
  }

  .u-section-2 .u-image-1 {
    height: 157px;
  }

  .u-section-2 .u-image-2 {
    height: 157px;
  }

  .u-section-2 .u-image-3 {
    height: 157px;
  }

  .u-section-2 .u-image-4 {
    height: 157px;
  }

  .u-section-2 .u-image-5 {
    height: 157px;
  }

  .u-section-2 .u-image-6 {
    height: 157px;
  }

  .u-section-2 .u-image-7 {
    height: 157px;
  }

  .u-section-2 .u-image-8 {
    height: 157px;
  }

  .u-section-2 .u-image-9 {
    height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2149px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 69px;
    margin-right: 13px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.500024999999999px));
    min-height: 1884px;
    grid-auto-columns: calc(50% - 12.500024999999999px);
  }

  .u-section-2 .u-image-1 {
    height: 184px;
  }

  .u-section-2 .u-image-2 {
    height: 184px;
  }

  .u-section-2 .u-image-3 {
    height: 184px;
  }

  .u-section-2 .u-image-4 {
    height: 184px;
  }

  .u-section-2 .u-image-5 {
    height: 184px;
  }

  .u-section-2 .u-image-6 {
    height: 184px;
  }

  .u-section-2 .u-image-7 {
    height: 184px;
  }

  .u-section-2 .u-image-8 {
    height: 184px;
  }

  .u-section-2 .u-image-9 {
    height: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4261px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 3325px;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: -3222px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-image-1 {
    height: 299px;
  }

  .u-section-2 .u-image-2 {
    height: 299px;
  }

  .u-section-2 .u-image-3 {
    height: 299px;
  }

  .u-section-2 .u-image-4 {
    height: 299px;
  }

  .u-section-2 .u-image-5 {
    height: 299px;
  }

  .u-section-2 .u-image-6 {
    height: 299px;
  }

  .u-section-2 .u-image-7 {
    height: 299px;
  }

  .u-section-2 .u-image-8 {
    height: 299px;
  }

  .u-section-2 .u-image-9 {
    height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 3236px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -3216px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 3914px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 264px;
  }

  .u-section-2 .u-image-2 {
    height: 264px;
  }

  .u-section-2 .u-image-3 {
    height: 264px;
  }

  .u-section-2 .u-image-4 {
    height: 264px;
  }

  .u-section-2 .u-image-5 {
    height: 264px;
  }

  .u-section-2 .u-image-6 {
    height: 264px;
  }

  .u-section-2 .u-image-7 {
    height: 264px;
  }

  .u-section-2 .u-image-8 {
    height: 264px;
  }

  .u-section-2 .u-image-9 {
    height: 264px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 605px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  margin-top: 13px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 469px;
  grid-gap: 25px 25px;
  grid-auto-columns: 100%;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 397px;
  width: 619px;
  margin: 27px auto 0 33px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -397px 64px 0 697px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 75px 100px 0 733px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 36px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -380px;
    margin-right: 14px;
    margin-left: 639px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: 50px;
    margin-left: 675px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 667px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 41px;
  }

  .u-section-3 .u-text-2 {
    width: 380px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-right: 142px;
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 620px;
  }

  .u-section-3 .u-image-1 {
    height: 316px;
    width: 493px;
    margin-top: 40px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 84px;
    margin-left: 77px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 27px;
    margin-right: 65px;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    min-height: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-3 .u-image-1 {
    height: 218px;
    width: 320px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 23px;
    margin-left: 20px;
    margin-right: 20px;
  }
}