 .u-section-1 {
  background-image: none;
  min-height: 814px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 813px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-shape-1 {
  width: 117px;
  height: 117px;
  margin: 107px auto 0 -12px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Metrophobic;
  font-weight: 700;
  margin: -63px 40px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 17px 40px 0;
}

.u-section-1 .u-form-1 {
  height: 67px;
  margin: 104px 111px 0 1px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  --radius: 4px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-image-1 {
  min-height: 813px;
  background-image: url("images/plantlady.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 564px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    --radius: 14px;
  }

  .u-section-1 .u-image-1 {
    min-height: 670px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 769px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: 1px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 768px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5625rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 32px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1104px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 590px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 22px;
    padding-right: 50px;
    padding-bottom: 22px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 72px;
    margin-left: -31px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -74px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 26px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 936px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 390px;
    margin-top: 16px;
    margin-bottom: -16px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 11px;
    margin-right: 41px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 41px;
    margin-left: 9px;
  }

  .u-section-1 .u-form-1 {
    height: 146px;
    width: 379px;
    margin-top: 10px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-1 {
    min-height: 329px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 678px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Metrophobic;
  font-size: 3rem;
  font-weight: 700;
  margin: 55px 202px 0 auto;
}

.u-section-2 .u-gallery-1 {
  height: 389px;
  grid-gap: 17px 17px;
  width: 736px;
  margin: 16px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 151px;
  height: 96px;
  margin: -522px auto 0 17px;
}

.u-section-2 .u-shape-1 {
  width: 151px;
  height: 96px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

.u-section-2 .u-text-2 {
  line-height: 1.15;
  letter-spacing: normal;
  margin: 442px 0 0;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -467px auto 0 -136px;
}

.u-section-2 .u-shape-3 {
  width: 250px;
  height: 250px;
  margin: -40px -143px 0 auto;
}

.u-section-2 .u-shape-4 {
  width: 151px;
  height: 96px;
  margin: 36px -12px -16px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-right: auto;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 111px;
    height: 69px;
    margin-top: -523px;
    margin-left: -13px;
  }

  .u-section-2 .u-shape-1 {
    width: 111px;
    height: 69px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 482px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -479px;
  }

  .u-section-2 .u-shape-3 {
    width: 261px;
    margin-top: 15px;
    margin-right: -180px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 102px;
    margin-right: -20px;
    margin-bottom: -49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1139px;
  }

  .u-section-2 .u-gallery-1 {
    height: 640px;
    width: 245px;
    margin-top: 1157px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-top: -1215px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 475px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -2440px;
  }

  .u-section-2 .u-shape-3 {
    width: 250px;
    margin-top: -118px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 31px;
    margin-left: -5px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 0;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 0;
    height: 0;
    margin-top: 42px;
    margin-right: 485px;
    margin-left: 56px;
  }

  .u-section-2 .u-shape-1 {
    width: 0;
    height: 272px;
    margin-left: 0;
    margin-right: 429px;
    margin-top: 174px;
    left: 56px;
    top: 792px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -1171px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 544px;
    width: 232px;
    margin-top: 21px;
    margin-left: 48px;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-top: 0;
    margin-right: 353px;
    margin-left: -13px;
  }

  .u-section-2 .u-shape-1 {
    height: 64px;
    left: -13px;
    top: 667px;
  }

  .u-section-2 .u-text-2 {
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 37px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -678px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 613px;
}

.u-section-3 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 187px;
  height: 164px;
  margin: 4px auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 187px;
  height: 164px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -155px auto 0 calc(((100% - 1140px) / 2) + 392px);
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 31px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-video-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-video-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-shape-2 {
  width: 187px;
  height: 164px;
  margin: -42px 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 543px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -71px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -84px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 237px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 466px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -172px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-3 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 347px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 973px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: 308px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: -463px;
    margin-left: calc(((100% - 1140px) / 2) + 511px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-3 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 437px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 659px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -153px;
    margin-right: calc(((100% - 340px) / 2) + 32px);
    margin-left: calc(((100% - 340px) / 2) + 74px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 30px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-3 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 537px);
  }
}